@mixin flex($direction: row, $justifyContent: flex-start, $alignItems: stretch, $flexWrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-wrap: $flexWrap;
}
